{% extends 'blog/layout.html' %}
{% load static %}

{% block title %}Востановить пароль | Blog{% endblock %}

{% block content %}
    <div class="password-reset">
        <div class="container">
            <div class="password-reset__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="password-reset__title">Востановить пароль</p>
                <p>Инструкция была отправлена на email</p>
                <p class="password-reset__reminder">Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, который вы указали при регистрации.</p>
            </div>
        </div>
    </div>
{% endblock %}
