{% extends 'blog/layout.html' %}
{% load static %}

{% block title %}Восстановить пароль | Blog{% endblock %}

{% block content %}
    <div class="password-reset">
        <div class="container">
            <div class="password-reset__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="password-reset__title">Востановить пароль</p>
                <form method="post">
                  {{ form.as_p }}
                  <p><input id="password-reset__btn" type="submit" value="Отправить на почту"></p>
                  {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
