{% extends 'blog/layout.html' %}
{% load static %}

{% block title %}Востановить пароль | Blog{% endblock %}

{% block content %}
    <div class="password-reset">
        <div class="container">
            <div class="password-reset__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="password-reset__title">Поменять пароль</p>
                {% if validlink %}
                  <p>Введите ваш новый пароль два раза</p>
                  <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input id="password-reset__btn" type="submit" value="Поменять пароль"></p>
                  </form>
                {% else %}
                  <p>Ссылка недоступна</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
