{% extends 'blog/layout.html' %}
{% load static %}

{% block title %}Смена пароля | Blog{% endblock %}

{% block content %}
    <div class="password-change">
        <div class="container">
            <div class="password-change__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="password-change__title">Поменять пароль</p>
                <form method="post">
                    {{ form.as_p }}
                    <p><input id="password-change__btn" type="submit" value="поменять"></p>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
