{% extends 'blog/layout.html' %}
{% load static %}

{% block title %}Пароль восстановлен | Blog{% endblock %}

{% block content %}
    <div class="password-reset">
        <div class="container">
            <div class="password-reset__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="password-reset__title">Пароль восстановлен</p>
                <p>Пароль был поменян. Вы можете <a href="{% url 'login' %}">войти тут</a></p>
            </div>
        </div>
    </div>
{% endblock %}
