{% extends 'blog/layout.html' %}
{% load static %}


{% block title %}Главная | Blog{% endblock %}


  {% block content %}
    <div class="index__inner">
      <h1 class="index__title"><img class="index__img" src="{% static 'img/logo.png' %}" alt="logo">Блог</h1>
      <p class="index__text">Этот проект, созданный на Django, разработан для портфолио. В нём демонстрируются мои навыки разработки на фреймворке.</p>
        <p>В данном блоге реализованы следующие функции:</p>
        <div class="index__functionality">
            <p class="index__functionality-user">Посетитель: </p>
                <ul type="disc">
                    <li>Возможность зарегистрироваться и авторизоваться</li>
                    <li>Доступ к просмотру постов и комментариев к ним</li>
                    <li>Сортировка постов по тэгам</li>
                    <li>Воспользоваться возможностями сортировки постов: показ постов со схожим содержанием, самых свежих, самых обсуждаемых или самых популярных</li>
                </ul>
            <p class="index__functionality-user">Зарегистрированный пользователь: </p>
                <ul type="disc">
                    <li>Все предыдущие функции</li>
                    <li>Поменять пароль или восстановить его через электронную почту</li>
                    <li>При нажатии на своё имя в меню, возможность настроить свой профиль или выйти из него</li>
                    <li>Писать комментарии и ставить лайки на пост</li>
                    <li>Возможность поделиться постом через электронную почту</li>
                    <li>Отсматривать понравившиеся посты</li>
                </ul>
            <p class="index__functionality-user">Администратор: </p>
                <ul type="disc">
                     <li>Все предыдущие функции</li>
                    <li>Возможность добавлять, изменять или удалять посты</li>
                </ul>
            <p class="index__functionality-user">Дополнительные функции приложения: </p>
                <ul type="disc">
                    <li>Удаление неиспользуемых media файлов, после удаления профиля пользователя или блога через сигналы</li>
                    <li>Unit тесты приложения account</li>
                    <li></li>
                    <li></li>
                </ul>
            <p class="index__functionality-user">В будущем можно расширить содержание сайта следующим образом: </p>
                <ul type="disc">
                    <li>Добавить больше unit тестов</li>
                    <li>Расширить функциональность, добавив поддержку social auth</li>
                    <li></li>
                    <li></li>
                </ul>
        </div>
    </div>
  {% endblock %}









