{% extends 'blog/layout.html' %}
{% load static %}

{% block title %}{{ post.title }} | Blog{% endblock %}


{% block content %}
  {% if post.get_preview_url %}
    <a class="item__img" href="{{ post.get_absolute_url }}">
      <img src="{{ post.get_preview_url }}" alt="">
    </a>
  {% endif %}
  <div class="item__inner">
      <h1>{{ post.title }}</h1>
      <p class="date">
        Опубликовано {{ post.publish }} от {{ post.author }}
      </p>
      {{ post.body|linebreaks }}

      {% if request.user.is_authenticated %}
          <div class="item__info">
             <a class="item__info-like" href="{% url 'blog:add_like' post_slug=post.slug %}">
              <i class="{% if user.is_authenticated and is_liked %}fa-solid fa-heart{% else %}
              fa-regular fa-heart{% endif %}"></i>
              {{ post.likes }}
            </a>
            <a class="item__info-share" href="{% url 'blog:post_share' post.id %}">Поделиться постом</a>
          </div>
      {% endif %}

      <div class="item__similarity">
        <h2>Похожие посты</h2>
        <div class="item__similarity-list">
            {% for post in similar_posts %}
              <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </p>
            {% empty %}
                Нет похожих постов
            {% endfor %}
          </div>
      </div>
    </div>

  <div class="comments">
    {% with comments as comment %}
      <h2 class="comment__count">
        {% if comment.count == 1 %}
          {{ comment.count }} комментарий
        {% elif comment.count == 2 or comment.count == 3 or comment.count == 4 %}
          {{ comment.count }} комментария
        {% else %}
          {{ comment.count }} комментариев
        {% endif %}
      </h2>
    {% endwith %}

    {% if request.user.is_authenticated %}
      {% include "blog/post/includes/comment_form.html" %}
    {% else %}
      <p>Чтобы написать комментарий вам необходимо <a href="{% url 'login' %}">войти</a> в свой аккаунт!</p>
    {% endif %}

    {% for comment in comments %}
      <div class="comment__item">
        <div class="comment__title">
          <img class="comment__img" src="{{ comment.author.profile.get_photo_url }}">
          <p class="comment__name">
            {{ comment.author }}   {{ comment.created }}
          </p>
        </div>
        {{ comment.text|linebreaks }}
      </div>
    {% empty %}
      <p>на этом посте еще не комментариев :(</p>
    {% endfor %}
  </div>
{% endblock %}
