{% extends "blog/layout.html" %}
{% load static %}

{% block title %}Добавлен комментарий | Blog{% endblock %}

{% block content %}
  {% if like_result %}
    <div class="comment-post">
        <div class="container">
            <div class="comment-post__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="comment-post__title">Вы поставили лайк!!</p>
                <p><a href="{{ post.get_absolute_url }}">Вернуться к посту</a></p>
            </div>
        </div>
    </div>
  {% else %}
        <div class="comment-post">
        <div class="container">
            <div class="comment-post__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="comment-post__title">Вы убрали лайк :(</p>
                <p><a href="{{ post.get_absolute_url }}">Вернуться к посту</a></p>
            </div>
        </div>
    </div>
  {% endif %}
{% endblock %}
