{% extends "blog/layout.html" %}
{% load static %}

{% block title %}Поделиться постом | Blog{% endblock %}

{% block content %}
  {% if sent %}

    <div class="share-post">
        <div class="container">
            <div class="share-post__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="share-post__title">Вы успешно поделились постом</p>
                <p class="share-post__text">Пост "<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>" был успешно отправлен на {{ form.cleaned_data.to }}</p>
            </div>
        </div>
    </div>
  {% else %}
    <div class="share-post">
        <div class="container">
            <div class="share-post__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <p class="share-post__title">Отправить пост "{{ post.title }}" на почту</p>
                  <form class="share-post__inner" method="post" novalidate>
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input id="share-post__btn" type="submit" value="Отправить на почту">
                  </form>
                  <p><a href="{{ post.get_absolute_url }}">Вернуться к посту</a></p>
            </div>
        </div>
    </div>
  {% endif %}
{% endblock %}
