{% extends 'blog/layout.html' %}

{% load static %}

{% block title %}Регистрация | Blog{% endblock %}

{% block content %}
    <div class="register">
        <div class="container">
            <div class="register__inner">
                <img src="{% static 'img/logo.png' %}" alt="">
                <h1 class="register__title">Регистрация</h1>
                {% if form.errors %}
                    <p>
                        Неверные данные, попробуйте еще раз
                    </p>
                {% else %}
                    <p>
                        Пожалуйста, заполните форму ниже для регистрации
                    </p>
                {% endif %}
                <form method="post">
                    {{ user_form.as_p }}
                    {% csrf_token %}
                    <p><input id="register-btn" type="submit" value="Зарегистрироваться"></p>
                </form>
                <p class="register__under-link">Вы можете
                    <a href="{% url 'login' %}">
                        войти
                    </a>
                    на свой аккаунт
                </p>

            </div>
        </div>
    </div>
{% endblock %}
